body {
  background: #9a879d;
}
.heading {
  color: white;
  background: #9a879d;
  font-family: "Shadows Into Light", cursive;
}
.maininfo {
  color: white;
  background: #9a879d;
  font-family: "Shadows Into Light", cursive;
}
.h2 {
  color: white;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}
p {
  margin: 0 0 10px 0;
  padding-left: 20px;
}
.headshot {
  src: "./public/Headshot_exam.jpg";
  alt: "Example headshot of me";
  margin: "auto";
  width: 200px;
  height: 50;
  margin: -50;
}
